#tab_step3
{
    display: none;
}
#tab_step4
{
    display: none;
}

#tab_step6
{
    display: none;
}


#tab_step7
{
    display: none;
}

#tab_step2
{
    display: none;
}

#show_variations_selector
{
    display: none;
}